/*esto se declara en principio ya que son escalas 
estadares para cualquier pagina a realizar*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Lo que estamos declarando es que el elemento padre
va ser superior a nivel tamaño/resolucion  */
.padre {
    background-color: red;
    height: 900px;
    
    display: flex;
    /*La propiedad de display flex, ayuda a colocar las cajas como si fueran celdas de tablas, con un comportamiento 
    predecible y adaptable. Mozilla a estas cajas flexibles las llama el Diseño del 
    Santo Grial, flex soluciona problemas de control del diseño y se adpata facilmente a los diferentes dispositivos.*/
    flex-direction: column;
        /*La propiedad flex-direction es una propiedad 
    del contenedor flex. En una caja flex podemos colocar los elementos en cualquier dirección: 
    horizontalmente ( row ) o verticalmente ( column ), en el 
    sentido lógico o en el sentido contrario 
    ( -reverse ).*/
    justify-content: center;
    /*La propiedad CSS justify-content define cómo el 
    navegador distribuye el espacio entre y alrededor de los items flex,
     a lo largo del eje principal de su contenedor.*/
    align-items: center;
    flex-wrap: wrap;

}
/* Lo que estamos declarando es que el elemento hijo
va ser inferior a nivel tamaño/resolucion  y ademas que los cambios
que se hagan en PADRE modificaran la posicion de los objetos en hijo */
.hijo {
    width: 150px;
    height: 150px;
    background-color: green;
    border: 1px solid black;
    font-size: 30px;
}
